/**
* Media Queries
*/
$breakpoint-up-xs: 0; /* X-Small devices (portrait phones, less than 576px) */
$breakpoint-up-sm: 36rem; /* Small devices (landscape phones, 576px and up) */
$breakpoint-up-md: 48rem; /* Medium devices (tablets, 768px and up) */
$breakpoint-up-lg: 62rem; /* Large devices (desktops, 992px and up) */
$breakpoint-up-xl: 75rem; /* X-Large devices (large desktops, 1200px and up) */
$breakpoint-up-xxl: 90rem; /* XX-Large devices (larger desktops, 1440px and up) */
